P {
   padding-left: 20px;
   color:blue
  }
img {
    height: 20%;
}
body {
    background: rgb(240,128,128);
    background: linear-gradient(90deg, rgba(240,128,128,0.7372198879551821) 0%, rgba(240,128,128,0.7372198879551821) 84%);
    
.class1 {
    height: 40%;
}